@font-face {
font-family: PoetsenOne;
src: url(../fonts/PoetsenOne-Regular.ttf);
}

body {
  height: 100%;
  margin: 0;
}

#squint-text {
  color: seagreen;
  text-align: center;
  z-index:10;
  margin: 0;
  padding-top: 20%;
  font-size: 10em;
  font-family: PoetsenOne;
}

.bkgrd-main {
  background-size: 110%;
  height: 100vh;
  background-image: url(../images/squint3.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  z-index:1;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  /*width: 100%;*/
}

ul li {
  display: list-item;
  padding: 5px 10px;
  margin: 0 5px 0 0;
  text-align: center;
  list-style: none;
  text-decoration: none;
}


