button {
  margin:auto;
  display:block;
}

button {
  padding:16px 16px;
  font-size:12px;
  font-weight:500;
  color:#fff;
  background-color: $mainPurple;
  border:0;
  border-radius:5px;

  @mixin atSmall {
    padding:16px 22px;
    font-size:14px;
  }

  @mixin atMedium {
    padding:16px 32px;
    font-size:16px;
  }

  & a:hover {
    color: rgba($mainPink, 1);
  }    

}

button:hover{
  background-color: rgba($mainPurple, 0.85);
}

.btn-shop-now {
  font-family: ArialItalicBold;
  text-decoration: none;
  padding-top: 200px;
  display: block;
  text-align: center;

  @mixin atSmallest {
    padding-top: 260px;
  }

  @mixin atSmall {
    padding-top: 290px;
  }

  @mixin atMedium {
    padding-top: 380px;
  }

  @mixin atLarge {
    padding-top: 450px;
  }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,.7);
    padding-bottom: 10px;
}

.dropdown-content {

    & li {
      padding-top: 5px !important;
    }

    & a {
      font-size: 0.8rem;
      color: $darkPurple;
      display: block;
      font-weight: 700;
      text-decoration: none;
      outline: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba($darkPurple,.3);
      transition: all .4s ease-in-out;

      @mixin atSmall {
        color: $darkPurple;
        padding-top: 10px;
      }
    }

    &-alt a {
      background-color: $mainGreen;
      color: #fff;

      &:hover{
        color: $mainPink;
      }
    }
    
}

/*.dropdown:active .dropdown-content {
    display: block;
}*/

.show {
    display: block;
}

.dropbtn {
  color: $mainPurple;
}