button {
  margin:auto;
  display:block;
}

button {
    padding:16px 32px;
    font-size:16px;
    font-weight:100;
    color:#fff;
    background-color: $mainPurple;
    border:0;
    border-radius:5px;   
  }

  button:hover{
    background-color: $darkPurple;
  }

  .btn-shop-now {
    text-decoration: none;
    padding-top: 200px;
    display: block;
    text-align: center;

    @mixin atSmallest {
      padding-top: 260px;
    }

    @mixin atSmall {
      padding-top: 300px;
    }

    @mixin atMedium {
      padding-top: 380px;
    }

    @mixin atLarge {
      padding-top: 480px;
    }

  }