button {
  margin:auto;
  display:block;
}

button {
  padding:16px 16px;
  font-size:12px;
  font-weight:500;
  color:#fff;
  background-color: $mainPurple;
  border:0;
  border-radius:5px;

  @mixin atSmall {
    padding:16px 22px;
    font-size:14px;
  }

  @mixin atMedium {
    padding:16px 32px;
    font-size:16px;
  }    

}

button:hover{
  background-color: $darkPurple;
}

.btn-shop-now {
  font-family: ArialItalicBold;
  text-decoration: none;
  padding-top: 200px;
  display: block;
  text-align: center;

  @mixin atSmallest {
    padding-top: 260px;
  }

  @mixin atSmall {
    padding-top: 290px;
  }

  @mixin atMedium {
    padding-top: 380px;
  }

  @mixin atLarge {
    padding-top: 450px;
  }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
}

.dropdown-content {

    & a {
      color: #fff;
      text-decoration: none;
      display: block;
      background-color: $mainPink;
      padding: 0 2px 0 2px;

      @mixin atSmall {
        color: $mainPurple;
      }
    }

    &-alt a {
      background-color: $mainGreen;
      color: #fff;

      &:hover{
        color: $mainPink;
      }
    }
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

