.bkgrd-care {

   background: url(../../assets/images/football/remi-jacquaint-519310-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center bottom; 
   background-attachment: contain;
   height: auto;

   &-heading {
    padding: 15% 5% 5% 5%;

    @mixin atMedLarge {
      position: absolute; 
      display: inline-block;
      top: 20%;     
      left: 75%;
      transform: translate(-50%,-50%);
      text-align: left;

    }

    & h1 {
      text-align: center;
      font-size: 1.4em;
      transform: uppercase;

      @mixin atMedLarge {
        text-align: left;
      font-weight: 300;  
      font-size: 2.5rem;
      }
    }
   }

  &-info {
    background: rgba($mainWhite,.7);
    padding: 5%;
    margin: 3% 5% 3% 5%;

    @mixin atSmall {
      padding: 20% 2% 5% 2%;
    }

    @mixin atMedLarge {
      padding: 5% 2% 5% 2%;
      margin: 10% 3% 10% 12%;
      display: inline-block;
      width: 37%;
    }

  }

  & h3 {
    font-size: 1rem;

    @mixin atSmall {
      font-size: 1.6rem;
      padding-bottom: 5%;
    }
  }

  & p {
    color: #444;
    line-height: 1.7rem;

    &:before { 
      content: ' '; 
      clear: right;
      display: block;
      height: 2rem; 
    }

    @mixin atSmall {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 2rem;
    }


    @mixin atLarge {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 2.2rem;
    }

  }

}