.footer-wrapper {
  min-height: 250px;

  @mixin atSmall {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.footer-wrapper > div {

  @mixin atSmall {
    display: flex; 
    flex-basis: calc(50% - 5px);  
    justify-content: center;
    flex-direction: column;
  }  
}

.footer {
  @mixin atSmall {
    margin: 10px 0 20px 0px;
  }

  @mixin atMedium { 
    margin: 10px 0 10px 0px;
  }
}

.footer-left { 
  /*border: 2px solid $mainPink;*/
  @mixin atSmall{

  }
  line-height: 25px;
  padding: 0 0 5px 0;
  font-family: ArialItalic;

  a {
    color: $mainPurple;
  } 
  li {
    /*padding-left: 40px;*/
    display: list-item;
    list-style: none;
    text-decoration: none;
    color: pink;
    text-align: center;
  }
}

.footer-right { 
  /*border: 2px solid $mainPink;*/
  padding: 15px 0 10px 0;
}

#footer-info {
  font-weight: 700;
  padding-top: 15px;
}

form {
  /*width: 100%;*/
  input[type=email] { 
    /*min-width: 250px !important;*/
    margin: 0 auto !important; /*centers the button*/
    margin-bottom: 10px !important;
    }
}

#mc_embed_signup_scroll {
  text-align: center;
}

#mc_embed_signup form {
  padding: 0 !important;
}

form {
  /*width: 100%;*/
  /*padding: 0 0 10px 3%;*/

  input[name=subscribe] { 
      background-color: $mainPurple !important;
      margin: 0 auto !important; /*centers the button*/
    }
}

#social-media-icons {
  padding-bottom: 10px;
  & ul {
    margin: 3px;
  }
}

.site-design-tag {
  font-size: 0.7rem;
  font-family: ArialItalic, sans-serif;
  text-align: center;

  & strong {
    font-size: 0.8rem !important;
  }

  & a {
    font-size: 0.8rem;
    color: $mainGreen;
    padding-bottom: .07em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba($mainPurple,.3);


    &:hover, :focus {
      opacity: .8;
      cursor: pointer !important;
    }
  }
}