.footer-wrapper {
  height: auto;
  background-color: #000;
  color: #fff;
  width: 100vw;
  padding: 3% 0;

  & p {
    margin-bottom: 0;
  }
}

.social-icons__no-footer {
  position: relative;
  /*top: 9vh;*/
  /*left: 0;*/
  /*transform: translate(-50%,-50%);*/

  & ul {
    margin: 3px;
  }
}

.site-design-tag {
  font-size: 0.7rem;
  font-family: ArialItalic, sans-serif;
  text-align: center;
  padding: 1% 0 2% 0;

  &__no-footer {
    color: #ffffff;
    font-size: 0.7rem;
    font-family: ArialItalic, sans-serif;
    text-align: center;


    & a {
      font-size: 0.7rem;
      color: #fff;
      padding-bottom: .07em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba($mainPurple,.3);
    }
  }

  & strong {
    font-size: 0.8rem !important;
  }

  & a {
    font-size: 0.7rem;
    color: $mainGreen;
    padding-bottom: .07em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba($mainPurple,.3);


    &:hover, :focus {
      opacity: .8;
      cursor: pointer !important;
    }
  }
}

.back-to-top {
  height: auto;
  width: 100%;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding: 3% 0 0 0;
  
  & img {
    opacity: 0.9;
    width: 30px;
  }
}

.custom-badge {
  height: auto;
  width: 100%;
  background: #000;
  margin: 0 auto;
  text-align: center;
  padding: 3% 0 0 0;
  
  & img {
    opacity: 0.9;
    width: 100px;

    @mixin atSmall {
      width: 170px;
      height: auto;        
    }

  }
}