#gallery-wrapper {
    /*max-width: 1100px;*/
    padding: 10% 0 5% 5% !important;
    /*background: $softPink;*/

    @mixin atSmall {
        margin: 0 auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(26);
    }

    & img {
        height: auto;
        width: 90%;
        padding-bottom: 10px;

        @mixin atSmall {
        padding-bottom: 0;
        width: 270px;
        }

        @mixin atMedium {
        width: 300px;
        }

        @mixin atLarge {
            width: 500px;
        }

        @mixin atXLarge {
            width: 600px;
        }

    }
}

.gallery-image {

    &-breadcrumbs {
        grid-row: 2 / 3;

        @mixin atSmall {
        grid-column: 2 / 7;
        }

    }


    &-1 {
        border: 1px solid hsla(31,15%,50%,.1);

        @mixin atSmallest {
            grid-column: 2 / 7;
            grid-row: 1 / 2;
        }
    }

    &-description {

        padding: 5%;
        grid-column: 8/12;
        grid-row: 1/2;

        & h6 {
            display: inline-block;
            background-color: red;
            color: #fff;
            padding: 5px 10px 3px 10px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

.paypal-select {  

    & select {

        width: 240px;
        height: 34px;
        overflow: hidden;
        background: url(new_arrow.png) no-repeat right #fff;
        border: 1px solid #444;
        background: #fff;
        color: #444;
        display: inline-block;
        /*width: 268px;*/
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border-radius: 0; 
        /*-webkit-appearance: none;*/

        & option {
            padding: 5px;

        }
    }
}

.custom-spacer {
    height: 5vh;
    width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #gallery-wrapper {
        max-width: 600px;
        padding-top: 15px !important;
        margin: 0 auto;
        text-align: center;
    }

    #gallery-wrapper img {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
    }
}

.breadcrumbs {
    color: #000;
    display: block;
    float: left;
    background-color: #fff;
    text-align: left;
}

ul.breadcrumbs {
    list-style: none;
}
ul.breadcrumbs li {
    display: inline;
    font-size: .9rem;
}

ul.breadcrumbs li a {
    padding: 5px 0px;
    color: #444;
    text-decoration: none;
}
ul.breadcrumbs li a:hover {
    color: #01447e;
    text-decoration: none;
}

