.header {
  font-family: ArialItalic;
  text-decoration: none;
  position: absolute;
  width: 100%;
  color: #FFF;
  z-index: 10;
  background-color: rgba($mainPurple, 0);

  &-index {
  background-color: rgba($mainPurple, .8);
  }

  @mixin atMedium {
    background-color: transparent;
    width: 400px;
    padding: 5px 5px;
    top:20px;
  }

  @mixin atLarge {

  }

  a:hover {  
    color: $mainGreen;
  }
    
  a {
    @mixin atMedium {
    color: $mainPurple;
    }
  }

  &__menu-content-looks a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__menu-content-squint-club a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__menu-content-sizing a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__menu-content-contact a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__menu-content-shipping a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__menu-content-returns a {
    @mixin atSmall {
      color: #FFF;
    }
  }

  &__shop a {
    color: #fff;
  }

  &__shop a:hover{
    color: $mainGreen;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #fff;
      transition: all .1s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #fff;
      transform-origin: 0 100%;      
      transition: transform .3s ease-out;
    }

    &-green {
      
      &::before {
        background-color: $mainGreen;
      }
      &::after {
        background-color: $mainGreen;
      }
      &__middle {
        background-color: $mainGreen;
      }    
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    
    &::before {
      transform: rotate(45deg) scaleX(1.3);
    }

    .header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.3) translateY(1px);
    }

  }

  &__menu-content {
    display: none;
    font-size: .9rem;

    @mixin atSmallest {
      font-size: 1rem;
    }

    @mixin atMedium {
      display: block;
      
    }

    &--is-visible {
      display: block;
      
      ul li {
        padding: 20px 5px 0px 5px;
      }
    }

  }

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 60;
}

.dropdown-content:hover a {
    display: block;
    background-color: #3e8e41;
    width: 100px;
    height: 50px;
}