.bkgrd-looks {

  background-color: #fff;
  height: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 

  @mixin atLarge {
    /*1000*/
    background-position: center;
    background-size: cover;
    height: 50%; 
    background-attachment: fixed;
  }

  &-text {
    text-align: center;
    z-index: 5;
    color: red;
    font-weight: 500;
    opacity: .8;
    font-size: 1.7rem;
    font-family: PoetsenOne;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 60px;

    @mixin atSmall {
      font-size: 2rem;
      padding-top: 50px;
    }

    @mixin atMedium {
      font-size: 2.5rem;
      padding-top: 50px;
    }
    @mixin atLarge {
      font-size: 3rem;
      padding-top: 50px;
    }
  }

  &__instructions {
    text-align: center;
    color: $mainPurple;
    font-size: 1.2rem;
  }


&__title-shop {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: $mainPink;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-family: PoetsenOne;
  z-index:2;

  @mixin atSmallest {
    font-size: 3.3rem;
  }

  @mixin atSmall {
    top: 28%;
    font-size: 4.5rem;
  }

  @mixin atMedium{
    top: 26%;
    font-size: 6rem;
  }    

  @mixin atLarge{
    top: 30%;
    font-size: 7rem;
  }    

}

  &__text-content {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
  }

}

.collections {
  max-width: 800px;
  padding-bottom: 20px;

  @mixin atSmall {
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10);
  }

  &-1 {

    @mixin atSmallest {
    grid-column: 1 / 13;
    grid-row: 1 / 5;
    }
    @mixin atMedium {
    grid-row: 1 / 5;
    }
  }

  &-2 {
    @mixin atSmallest {
    grid-column: 1 / 13;
    grid-row: 5 / 9;
    }
    @mixin atMedium {
    grid-row: 5 / 9;
    }
  }

  & img {
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid $mainGreen;
  }

  & img:hover {
    box-shadow: $mainGreen 7px 7px 0; 
    opacity: .8;
    /*border: 2px solid #119a48;*/
    /*margin-left: -2px;*/
    /*margin-top: -2px;*/
  }
}

