@font-face {
font-family: PoetsenOne;
src: url(../../assets/fonts/PoetsenOne-Regular.ttf);
}

.bkgrd-main {

  background-image: url(../../assets/images/tiesmall.png);
  height: 80vh; 
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &-2{
    height:80vh;
  }

  &-3 {
  background-image: url(../../assets/images/squint3.png);
  height: 80vh; 
    /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: contain;*/
  }

  &__text-content {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    /*display:none;*/
    color: $mainPink;
    text-align: center;
    margin: 0;
    /*padding-top: 20%;*/
    font-size: 9.5rem;
    font-family: PoetsenOne;

    @media only screen and (max-width: 750px){
      font-size: 7rem;
      position: auto;
    }

    @media only screen and (max-width: 500px){
      font-size: 5rem;
      position: auto;
    }    
 
  }

}