.bkgrd-main {

  background: url(../../assets/images/football/abigail-keenan-17652-unsplash.jpg);
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 

  @mixin atSmall {
    height: 100%;
  }

  &-text {
    padding: 15px 30px;
    text-align: center;
    z-index: 5;
    color: #fff;
    word-wrap: break-word;
    overflow: hidden;
    font-size: .95rem;
    font-weight: 500;
    opacity: .8;

    @mixin atSmall {
      font-size: 1rem;
    }

    @mixin atMedium {
      font-size: 1.1rem;
    }

  }

  &__title {
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  animation: floating 6s linear infinite;
    color: #fafafa;
    text-align: center;
    margin: 0;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 300;
    z-index:2;

    @mixin atSmall {
      top: 35%;
    }

    & img {
      width: 200px;

      @mixin atSmall {
        width: 300px;
        height: auto;        
      }

    }

    @mixin atSmallest {
      font-size: 5rem;
    }

    @mixin atSmall {
      font-size: 6rem;
    }

    @mixin atMedium{
      font-size: 8rem;
    }    
 
    @mixin atLarge{
      font-size: 10rem;
    }  

    @mixin atXXLarge{
      top: 300px;
      font-size: 12rem;
    }    

    @mixin atXXXLarge{
      font-size: 15rem;
    } 

    @mixin atShrunkOne {
      font-size: 7rem;
    }

    @mixin atShrunkTwo {
      font-size: 5rem;
    }

  }

  &__text-content {
    overflow: hidden;
    text-align: center;
    /*text-overflow: ellipsis;*/
  }

}

@keyframes floating 
{
  0% 
  {
    transform: translate(-50%,-50%);
  }
  50% 
  {
    transform: translate(-50%,-45%);
  }
  100% 
  {
    transform: translate(-50%,-50%);
  }
}

section{
  display:block;
}

.products {
  padding-top: 1%;
  margin: 3%;

  & form {
    text-align: center;
  }

  @mixin atSmall {
    display: flex;
    flex-wrap: wrap;
  }
}

.product-card {
  background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
  padding: 2%;
  margin: 5%;

  &-blank {
    box-shadow: none;
  }

  @mixin atMedium {
    display: flex;
    flex-direction: column;
    flex: 1 20%;
    margin: 1%;
  }

  @mixin atXLarge {
    display: flex;
    flex-direction: column;
    flex: 1 16%;
    margin: 1%;
  }
}

.product-image img {
  width: 100%;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

@media ( max-width: 920px ) { 
  .product-card {
    flex: 1 33%;
  }

}

@media ( max-width: 600px ) {  
  .product-card {
    flex: 1 46%;
  }  
}
