.bkgrd-returns {
  background: $mainPink;    
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 

  @mixin atMedium {
    height: 100px;
  }

}

.wrapper-text-returns {
  padding-top: 20px;
  padding-bottom: 50px;
  height: auto;
  text-align: center;
  background: linear-gradient($mainPink,#fff);
  overflow: hidden;

  @mixin atSmall {
    padding-top: 40px;
  }


  & p {
    font-family: PoetsenOne;
    font-size: .9rem;
    width: 90%;
    display: inline-block;
    line-height: 1.5rem;
    color: $mainGreen;

    @mixin atSmallest {
      font-size: 1rem;
      width: 80%;
    }
    @mixin atSmall {
      font-size: 1.1rem;
    }
    @mixin atMedium {
      width: 70%;
    }
    @mixin atLarge {
      width: 50%;
    }
  }
}

.returns-title {
  display: inline-block;
  font-family: PoetsenOne;
  font-size: 1.1rem;
  color: $mainGreen;
  
  @mixin atSmallest {
    font-size: 1.3rem;
  }
  @mixin atSmall {
    font-size: 1.7rem;
  }
  @mixin atMedium {
    font-size: 2rem;
  }

  @mixin atMedium {
    font-size: 2.5rem;
  }
}

.loop-wrapper {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-bottom: 3px solid rgba($mainGreen,0.8);
  font-size: .9rem;
  font-family: PoetsenOne;
  @mixin atSmallest {
  /*width: 500px; */
  height: 200px; 
  }
  @mixin atSmall {
  /*width: 600px;  */
  height: 250px;
  }
}
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 
    0 0 0 50px $darkPurple,
    60px 50px 0 70px $darkPurple,
    90px 90px 0 50px $mainPurple,
    250px 250px 0 50px $mainPurple,
    290px 320px 0 50px $mainPurple,
    320px 400px 0 50px $darkPurple;
  transform: rotate(130deg);
  animation: mtn 7s linear infinite;
  opacity: 0.7;
}
.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 13px;
  box-shadow: 
    0 0 0 50px $mainGreen,
    -20px 0 0 20px $mainGreen,
    -90px 0 0 20px $mainGreen,
    270px 0 0 50px $mainGreen,
    290px 0 0 50px $mainGreen,
    620px 0 0 50px $mainGreen;
  animation: hill 5s 2s linear infinite;
  opacity: .9;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px; 
  width: 35px;
  bottom: 0;
  background: url(../../assets/images/tree.svg) no-repeat;
  opacity: .4;
}
.truck, .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -45px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  background: url(../../assets/images/truck.svg) no-repeat;
  height: 60px;
}
.truck:before {
  content: " ";
  float: left;
  padding-left: 3px;
  padding-top: 15px;
  position: relative;
  width: 25px;
}
.wheels {
  background: url(../../assets/images/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }

@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(650px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes truck {
  0%   { }
  6%   { transform: translateY(0px); }
  /*7%   { transform: translateY(-6px); }*/
  9%   { transform: translateY(0px); }
  /*10%   { transform: translateY(-1px); }*/
  11%   { transform: translateY(0px); }
  100%   { }
}

@keyframes mtn {
  100% {
    transform: translateX(-3000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-4000px);
  }
}

