.bkgrd-shop {
 background-color: $mainPurple;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 

  @mixin atMedium {
    height: 100px;
    background-size: contain;
    background-position: 25% 25%;
    background-attachment: scroll;
  }

  @mixin atLarge {
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }

  &-2{
    padding-top: 50px;
  }

  &-3 {
    background: $mainPurple;
    height: auto;
    padding: 25px 0 35px 0;

    @mixin atSmall {
      padding: 20px 0 30px 0;
    }

    &__squint-club {
      background: #fff;
    }
  }

  &__text-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

.squint-logo {
  text-align: center;

  &-image {
    height: 230px;
    display: inline-block;

    @mixin atSmallest {
      height: 270px;
    }
  }
}

/*#my-store-12708124 {
  background-color: $mainPurple;
}*/