.bkgrd-sizing {
   background: $mainPurple;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 

  @mixin atMedium {
    height: 100px;
    background-size: contain;
    background-position: 25% 25%;
    background-attachment: scroll;
  }

  @mixin atLarge {
    background-position: center;
    /*background-image: url(../../assets/images/TIE_1920.png);*/
    background-size: cover;
    /*height: 600px; */
    background-attachment: scroll;
    /*background-attachment: fixed;*/
  }
}

.wrapper-text {
  padding-top: 50px;
  padding-bottom: 55px;
  height: auto;
  text-align: center;
  background-color: $mainPink;
  overflow: hidden;

  & h2 {
    font-family: PoetsenOne;
    font-size: 1.1rem;
    color: #fff;
    
    @mixin atSmallest {
      font-size: 1.3rem;
    }
    @mixin atSmall {
      font-size: 1.7rem;
    }
    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
    }
  }

  & p {
    font-family: PoetsenOne;
    font-size: .9rem;
    width: 90%;
    display: inline-block;
    @mixin atSmallest {
      font-size: 1rem;
      width: 88%;
    }
    @mixin atSmall {
      width: 80%;
    }
    @mixin atMedium {
      width: 70%;
    }
  }
}