div.youtube-video-wrap {
  margin: 0 auto;
  width: 100%; 
  /*max-width: 640px;*/
  /*border: 2px solid $mainGreen;*/
   &:hover {
    /*box-shadow: $mainGreen 7px 7px 0; */
    opacity: .9;
   }
}

.video-content {

  position:relative;
  padding-bottom:56.25%;
  /*padding-top:10px;*/
  height:0;
  overflow:hidden;

  & iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.bkgrd-main-squint-club {
  /*background: linear-gradient(to right, $mainPurple , $mainGreen);*/
  background-color: $mainPink;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  height: 80px;

  @mixin atMedium {
    height: 100px;
  }

  &-text {
    margin: 0 auto;
    font-family: ArialItalicBold;
    padding: 15px 30px;
    text-align: center;
    z-index: 5;
    color: $mainPink;
    overflow: hidden;
    font-size: .9rem;
    font-weight: 500;
/*    opacity: .8;*/
    height: auto;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
      /*padding: 5px 5px;*/
    }

    & p {
      margin: 0 auto;
      padding: 5px 5px;
    }

  }

  &-2{
    background-color: #fff;
    padding-top: 25px;
    /*padding-bottom: 25px;*/
  }

  &-3 {
  background-image: url(../../assets/images/squint3.png);
  height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @mixin atSmall {
    height:60vh;
  }

  @mixin atMedium {
    height:80vh;
    background-size: auto;
  }

  @mixin atLarge {
    background-size: auto;
  }

}

  &__title a {
    /*position: absolute;*/
    color: $mainPink !important;
    top: 130px;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-family: PoetsenOne;
    z-index:2;
    display: inline-block;

    @mixin atSmallest {
      font-size: 2.5rem;
    }

    @mixin atSmall {     
      font-size: 3rem;
    }

    @mixin atMedium{
      font-size: 4rem;
    }       

  }

  &__text-content {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
  }

}

@-ms-keyframes wiggle {
  0%{
    -ms-transform:rotate(3deg);
  }
  50% {
    -ms-transform:rotate(-3deg);
  }
  100%{
    -ms-transform:rotate(3deg);
  }
}

@keyframes wiggle{
  0% {
    transform:rotate(3deg);
  }
  50% {
    transform:rotate(-3deg);
  }
  100%{
    transform:rotate(3deg);
  }
}

a.wiggle-me:hover{
  animation:wiggle .4s infinite;
  text-decoration: none;

}