video {
  display: block;
  margin: 0 auto;
  position: absolute;
  min-width: 100%;
  width: 100%;
  height: auto;
  background-repeat: repeat-y;
  overflow: hidden;
  /*z-index: 1; */
  box-sizing:border-box;
}

.video-overlay {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: rgba($mainPink, 0.25);
  z-index: 1;
  box-sizing:border-box;
}

.video-container{
  height: 240px;
  width: 100%;
  display: block;
  align-content: center;
  background-color: $mainPink;
  box-sizing:border-box;

  @mixin atSmallest {
    height: 260px;
  }

  @mixin atSmall {
    height: 320px;
  }

  @mixin atMedium {
    height: 400px;
  }

  @mixin atMedLarge {
    height: 480px;
  }

  @mixin atLarge {
    height: 550px;
  }

  @mixin atXLarge {
    height: 650px;
  }
}