.body {
  margin: 0;
  padding: 0;
}

.html {
  margin: 0;
  padding: 0;
}

video {
  position: absolute;
  /*top:50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  min-width: 100%;
  /*min-height: 100%;*/
  width: 100%;
  height: auto;
  background-repeat: repeat-y;
  overflow: hidden;
  z-index: 1;
}

.video-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: $mainPurple;
  z-index: 2;
  opacity: 0.65;
}

.text-overlay {
  z-index: 3;
  color: white;
  text-align: center;
  font-family: ArialItalicBold;
  padding-top: 10%;
  position: relative;
  padding: 50px 100px;
}