iframe {
cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur824.cur), progress !important;
}

#instafeed {
  padding: 40px 10px 70px 10px;
  text-align: center;
  background-color: $mainPink;

    & img {
      padding:5px;
    }
}

.instagram-follow {
  font-family: PoetsenOne;
  font-size: 25px;
  color: #fff;

  @mixin atMedium {
    font-size: 30px;
  }

  a {
  padding-bottom: .07em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(250,250,250,.3);
  }

  a:hover {
    color: $mainGreen;
  }

}