.wiggle{
 position: relative;

 &:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-position: center;
 }

 &__purple:before{
   background-image: url(../../assets/images/purple-bkgrd.svg);
 }

 &__white:before{
   background-image: url(../../assets/images/white-bkgrd.svg);
 }

 &__pink:before{
   background-image: url(../../assets/images/pink-bkgrd.svg);
 }

 &__green:before{
   background-image: url(../../assets/images/green-bkgrd.svg);
 }

 &__pink-long:before{
   background-image: url(../../assets/images/pink-bkgrd-long.svg);
 }

 &__green-long:before{
   background-image: url(../../assets/images/green-bkgrd-long.svg);
 }

 &__purple-long:before{
   background-image: url(../../assets/images/purple-bkgrd-long.svg);
 }

 &__white-long:before{
   background-image: url(../../assets/images/white-bkgrd-long.svg);
 }

}