.wiggle{
 position: relative;

 &:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-position: left;
 }

 &__purple:before{
   background-image: url(../../assets/images/purple-bkgrd.svg);
 }

 &__white:before{
   background-image: url(../../assets/images/white-bkgrd.svg);
   height: 35px;
 }

 &__pink:before{
   background-image: url(../../assets/images/pink-bkgrd.svg);
 }

 &__green:before{
   background-image: url(../../assets/images/green-bkgrd.svg);
 }

 &__pink-long:before{
   background-image: url(../../assets/images/pink-bkgrd-long.svg);
 }

 &__pink-long-video:before{
   background-image: url(../../assets/images/pink-bkgrd-long.svg);
   height: 120px;
   background-position: left;

   @mixin atSmallest {
    height: 100px;
   }

   @mixin atSmall {
    height: 75px;
   }
 }

 &__green-long:before{
   background-image: url(../../assets/images/green-bkgrd-long.svg);
 }

 &__purple-long:before{
   background-image: url(../../assets/images/purple-bkgrd-long.svg);
 }

 &__purple-long-animation:before{
   background-image: url(../../assets/images/purple-bkgrd-long.svg);
   height: 30px;
 }

 &__white-long:before{
   background-image: url(../../assets/images/white-bkgrd-long.svg);
 }

 &__white-long-video:before{
   background-image: url(../../assets/images/white-bkgrd-long.svg);
   height: 55px;
 }

}